<!DOCTYPE html>
<html lang="fr" ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    
    <title>App</title>

    <link rel="stylesheet" type="text/css" href="scss/style.css">
    <!-- <script https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js></script> -->
    <script type="text/javascript" src="vendor/angular-1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>

	

	


<body>


<!-- interface de connexion -->
<h3>interface de connexion:</h3>

<form method="post">

<label>Pseudo: <input type="text" name="pseudo"/></label><br/><br/>

<label>Mot de passe: <input type="password" name="passe"/></label><br/><br/>

<label>Confirmation du mot de passe: <input type="password" name="passe2"/></label><br/><br/>

<label>Adresse e-mail: <input type="text" name="email"/></label><br/><br/>

<input type="submit" value="M'inscrire"/>

<input type="reset" value="reset"/>
</form>


<h1>Petit compte entre amis</h1>

<!-- Tableau des dépenses -->
<div ng-controller="usersCtrl">

<table ng-controller = "depensesCtrl">  

  <tr class="one"> 
    
    <th>payeurs<h5>Check to show description</h5></th>
    <th>montant déclaré</th>
    <th>Concernés <h5>Check to show</h5></th>
    <th>nombre Concernés</th>
    <th>montant/concernés</th>
    <th>Equilibrage final</th>
  </tr>

  <tr class="two" ng-repeat="depense in depenses">
    
    <td>
    	<h4>{{aUsers[depense.Payeur]}}</h4> <!--  | orderBy : usergroup --> 
    	
        <input type="checkbox" ng-model="myVar">
        <h3 ng-show="myVar">{{depense.Description}}</h3><br>
        <button onclick="myFunction()">set user color:</button>			  
        <!-- <h4>{{bUsers[depense.Payeur]}}<h4> écrit la couleur--> 
        
    </td>
    
    <td class="euro">{{depense.Montant | currency:'€'}}</td>
    
    <td>
        <input type="checkbox" ng-model="myVar">
        <h3 ng-show="myVar"><li>{{aConcernesFinal[depense.Id]}}</li></h3> <!-- {{aUsers[depense.Concernes]}}résoudre -->
        <h5>color:{{bUsers[depense.Concernes]}}</h5>
    </td>
    
    <td>{{depense.nbConcernes}}</td>
    
    <td class="euro">{{depense.Montant/(depense.nbConcernes) | currency:'€'}}</td>
    
    <td></td>
  </tr>

  <tr class="three">
    <td><!-- Totaux --></td>
    <td>test<td>
    <td></td>
    <td>test</td>
    <td></td>
    
  </tr>
</table>
</div>

<table class="first" ng-controller="usersCtrl">
 
  <tr class="one">
    <th>Id</th>
    <th>nom des participants</th>
    <th>couleur</th>    
  </tr>


  <tr class="two" ng-repeat="user in users | orderBy : 'username'">
                 <!--  ng-repeat="(key,value) in users | groupBy:'Id'" {{key}}--> 
                     
    <td>{{user.Id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.usercolor}}</td>   
    
           
  </tr>  
</table>  
 
 <script type="text/javascript">
function myFunction() {

        document.getElementsByTagName("h4")[0].setAttribute("class", "colorclass"); 
        
    };
</script>

</body>
</html>