<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    
    <title>App</title>

    <link rel="stylesheet" type="text/css" href="scss/style.css">
    <!-- <script https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js></script> -->
    <script type="text/javascript" src="vendor/angular-1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
</head>
<body>


<h1>Petit compte entre amis</h1>

<table ng-controller="usersCtrl">
 
  <tr class="one">
    <th>Id</th>
    <th>nom des participants</th>
    <th>couleur</th>
    <th>type de dépenses(description)</th>
    <th>créditeurs</th>
    <th>concernés</th>
  </tr>


  <tr class="two" ng-repeat="user in users ">
                 <!--  ng-repeat="(key,value) in users | groupBy:'Id'" {{key}}--> 
                     
    <td>{{user.Id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.usercolor}}</td>   
    <td></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>   
  </tr>  
</table>  
 

<table ng-controller = "depensesCtrl">  

  <tr class="one"> 
    <th>payeurs</th>
    <th>montant déclaré</th>
    <th>Concernés</th>
    <th>nombre Concernés</th>
    <th>montant/concernés</th>
    <th>Equilibrage final</th>
  </tr>

  <tr class="two" ng-repeat="depense in depenses">
    <td>{{depense.Payeur}}</td>
    <td>{{depense.Montant}}</td>
    <td>{{depense.Concernes}}</td>
    <td>{{depense.nbConcernes}}</td>
    <td>{{depense.Montant/(depense.nbConcernes)}}</td>
    <td></td>
  </tr>


  <tr class="three">
    <td>Totaux</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


    

</body>
</html>